#form, #evenement, #form2, #task{
	visibility: hidden;
}
body{

}
/*
#mainbody, #form, #evenement, #form2, #task{
	position: absolute;
	left:15%;
	margin : 0 auto;
	width :800px;
	padding : 40px;
}

h1{
	text-align:center;
}
h3 {
	text-align: center;

}
p{
	position: relative;
	left:27%;
	width:350px;
	text-align: justify;
}
button {
	position: relative;
	left: 45%;
}
input{
	position : relative;
	left:40%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.orange {
	color: orange;
}
*/